/* CSS Document */

/* Hamburguer Menu Snippet */
:root {
    --mainBorder: 2px solid #222;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .nav {
    height: 80px;
    border-top: var(--mainBorder);
    border-bottom: var(--mainBorder);
    background-color: aquamarine;
  
  }
  
  .hamburger-icon {
    display: none;
  }
  
  .hamburger-icon svg {
    width: 70px;
    height: 70px;
    padding: 20px 20px;
  }
  
  /* Main Navigation */
  .main-nav {
    padding: 0;
    margin: 10px;
    margin-left: 20px;
  }
  
  .main-nav li {
    display: inline-block;
    margin : 10px 20px 0 0;
  }
  
  .main-nav li a {
    font-size: 1.7em;
    color: #222;
    text-decoration: none;
    transition: .3s all ease-in-out;
  }
  
  .main-nav li a:hover {
    color: #be2dd4;
  }
  
  /* Responsive Side Nav*/
  
  .side-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 0px;
    height: 100vh;
    overflow: hidden;
    background-color: #373737;
    transition: 1s all ease-in-out;
    
  }
  
  .side-nav li {
    display: block;
  }
  
  .side-nav li a {
    color: #a814dd;
  }

  @media screen and (max-width:800px) {
      .hamburger-icon {
        display: block;
      }
  
      .main-nav {
        display: none;
      }
   
  }